<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  <h2>Status {{status}}</h2>
  <p>Message {{message}}</p>

  <h2>Acct No. {{acct}}</h2>
  <p>Current Balance {{balance}}</p>

  <h2>Acct No. {{withDrawAcct}}</h2>
  <p>WithDraw Balance {{withDrawBalance}}</p>

  <h2>Acct No. {{depositAcct}}</h2>
  <p>Deposit Balance {{depositBalance}}</p>
  
  <h2>Transaction Listing</h2>
  <p>Account - Date - Transction Type - Amount</p>

  <ul>
    <li *ngFor="let txn of txnData">
      {{txn.accountNumber}}    -    {{txn.dateOfTransaction}}    -    {{txn.transactionType}}    -    {{txn.amount}}
    </li>
  </ul>

